<div class="box-signin">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { role: "form" }) do |f| %>        
    <div class="form-group">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :password %>
      <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
    </div>
    <div class="checkbox inline">
      <% if devise_mapping.rememberable? %>        
        <label>
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </label>        
     <% end %>
    </div>
    <div class="forgot-txt pull-right">
      <%- if devise_mapping.recoverable? && controller_name != 'passwords' %>
      <%= link_to t(".forgot_your_password", :default => "Forgot Password?"), new_password_path(resource_name) %><br />
      <% end -%>
    </div>    
    <div class="clear"></div>

    <%= f.submit  t('.sign_in', :default => "LOGIN"), class: "btn btn-success btn-block" %> 
  <% end %>
    <%= render "users/shared/links" %>
</div>
