<div class="container-fluid">  
  <div class="admin-content">
    <div class="row">    
      <div class="col-md-6 col-sm-6"><h2>CATEGORIES</h2></div>
      <div class="col-md-6 col-sm-6 text-right">
        <div class="title-links">
          <%= link_to '<i class="fa fa-plus fa-fw"></i> Add New'.html_safe,  new_organizations_category_path, class: "btn btn-success btn-sm" %>
        </div>
      </div>
    </div>

    <hr class="margin-top-10">

    <div class="clear20"></div>

    <div class="table-responsive">
      <table class="table table-striped table-bordered table-hover">
        <thead>
          <tr>          
            <th style="width:40%;">NAME</th>
            <th class="text-center" style="width:20%;">ACTIONS</th>
          </tr>
        </thead>
      <tbody>
        <% if @categories.size == 0 %>
            <tr>
              <td colspan="4">There is no Category in this section</td>
            </tr>
          <% else %>  
          <% @categories.each do |category| %>
            <tr>
              <td><%= category.name %></td>
               <td class="text-center actions">
                   <%= link_to '<i class="fa fa-pencil fa-lg"></i>'.html_safe, edit_organizations_category_path(category) %>
                   <%= link_to '<i class="fa fa-trash fa-lg"></i>'.html_safe, organizations_category_path(category), method: :delete, data: { confirm: 'Are you sure?' } %>
               </td>
             </tr>
           <% end %>
         <% end %>         
        </tbody>
      </table>
    </div>
    <div class="text-center">
      <%= will_paginate @category, renderer: BootstrapPagination::Rails %>
    </div>
  </div>
</div>
