<%= bootstrap_devise_error_messages! %>
<div class="container admin-boxes text-center">
  <div class="login-area">
    <a href="#"><img src="/assets/logo.png" class="img-responsive center-block"></a>
    <div class="clear10"></div>

    <div class="login-box">

    <h3>CHANGE PASSWORD</h3>
    
    <div class="form-group">
    <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put, role: "form" }) do |f| %>
      <%= f.hidden_field :reset_password_token %>

      <div class="form-group">
        <%= f.label :password, t('.new_password', :default => 'New password') %>
        <%= f.password_field :password, autofocus: true, class: "form-control"  %>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation, t('.confirm_new_password', :default => 'Confirm new password') %>
        <%= f.password_field :password_confirmation, class: "form-control"  %>
      </div>
      <div class="clear"></div>        
      <%= f.submit t('.change_my_password', :default => 'Change my password'), class: "btn btn-success btn-block" %>
      <% end %>
    </div>
    <%= render "admins/shared/links" %>
  </div>  
  </div>
</div>
