<!-- Login Modal starts -->
<div class="modal fade" id="signIn" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Sign in</h4>
      </div>
      <div class="modal-body">
        <div class="box-signin">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { role: "form" , 'data-parsley-validate' => ''}) do |f| %>        
            <div class="form-group">
              <%= f.label :email %>
              <%= f.email_field :email, autofocus: true, class: "form-control" ,required: true, 'data-parsley-trigger' => 'change' %>
            </div>
            <div class="form-group">
              <%= f.label :password %>
              <%= f.password_field :password, autocomplete: "off", class: "form-control" , required: true, 'data-parsley-min'=>"8",'data-parsley-trigger' => 'blur' %>
            </div>
            <div class="checkbox inline">
              <% if devise_mapping.rememberable? %>        
                <label>
                  <%= f.check_box :remember_me %>
                  <%= f.label :remember_me %>
                </label>        
             <% end %>
            </div>
            <div class="forgot-txt pull-right">
              <div class="forgot-txt pull-right"><a href="#">Forgot Password</a></div>              
            </div>    
            <div class="clear"></div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <%= f.submit  t('.sign_in', :default => "Sign in"), class: "btn btn-primary btn-signin" %> 
            </div>
          <% end %>
        </div>

        <div class="clear"></div>

        <div class="box-forgot">
          <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, role: "form" , 'data-parsley-validate' => ''}) do |f| %>
            <div class="form-group">
              <%= f.label :email %>
              <%= f.email_field :email, autofocus: true, class: "form-control",required: true, 'data-parsley-trigger' => 'change' %>
            </div> 
             <div class="signin-txt pull-left"><a href="#">Sign in</a></div>
             <div class="clear10"></div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <%= f.submit  t('.send_me_reset_password_instructions', :default => "Send me reset password instructions"), class: "btn btn-primary btn-forgot"%> 
            </div>
          <%  end %>
            <div class="clear"></div>
        </div>
      </div>      
    </div>
  </div>
</div>
<!-- Login Modal ends -->