<div class="container">
<%= bootstrap_devise_error_messages! %>
<div class="panel panel-default">
  <div class="panel-heading">
    <h4><%= t('.forgot_your_password', :default => 'Forgot your password?') %></h4>
  </div>
  <div class="panel-body">
    <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, role: "form" ,'data-parsley-validate' => '' }) do |f| %>
        <div class="form-group">
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true, class: "form-control" , required: true, 'data-parsley-trigger' => 'change'%>
        </div>

        <div class="clear"></div>
        <%= f.submit t('.send_me_reset_password_instructions', :default => "Send me reset password instructions"), class: "btn btn-success btn-block" %>
      <% end %>
      <%= render "users/shared/links" %>
  </div>
</div>
</div>
