<!DOCTYPE html>
<html>
<head>
  <title>Catalog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    
<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Catalog for Amin</a>
    </div>
     <% if admin_signed_in? %> 
      <ul class="nav navbar-nav">
        <li><%= link_to 'Organizations', admins_organizations_path  %> </li>
        <li role="presentation"><%= link_to 'Products' , products_path %></li>
        <li role="presentation"><%= link_to 'Categories', categories_path %> </li>
      </ul>
     <% end %>
    <div class="nav navbar-nav navbar-right" id="bs-example-navbar-collapse-1"> 
      <% if admin_signed_in? %>      
        <p class="navbar-text navbar-right">Signed in as <%= current_admin.email %>. <%= link_to "Sign out", logout_path, :method => :delete, class: "navbar-link"  %></p>
      <% else %> 
         <%= link_to "Login", login_path , class: "btn btn-default navbar-btn" %> 
      <% end %>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<%= yield %> 
<hr>
<!-- Footer -->
  <footer>
    <div class="container">  
      <div class="row">
          <div class="col-md-12">
              <p>Copyright &copy; Techverx 2016</p>
          </div>
      </div>
    </div>
      <!-- /.row -->
  </footer>
</body>
</html>
