<!DOCTYPE html>
<html>
<head>
  <title>Catalog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Catalog for User</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1"> 
      <% if user_signed_in? %>      
        <p class="navbar-text navbar-right">Signed in as <%= current_user.email %>. <%= link_to "Sign out", destroy_user_session_path, :method => :delete, class: "navbar-link"  %></p>
      <% else %> 
         <%= link_to "Sign in", new_user_session_path , class: "btn btn-default navbar-btn" %> 
      <% end %>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<%= yield %> 
<hr>
<!-- Footer -->
  <footer>
    <div class="container">  
      <div class="row">
          <div class="col-md-12">
              <p>Copyright &copy; Techverx 2016</p>
          </div>
      </div>
    </div>
      <!-- /.row -->
  </footer>
</body>
</html>
