<!DOCTYPE html>
<html>
<head>
  <title>Catalog</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application'%>
  <link href='http://fonts.googleapis.com/css?family=Lato:400,700,900' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<style>
  .parsley-errors-list{ color:red;  margin-top: 7px;}    
</style>
<body>
    
<!-- header starts -->
    <section id="header">
        <div class="container">
            <div class="logo pull-left">
              <a href="#"><img src="<%= asset_path('logo.png') %>" class="img-responsive"></a>
            </div>
            <div class="account pull-right">
                <% if user_signed_in? %> 
                  <%= link_to '<i class="fa fa-user fa-fw"></i>'.html_safe+  current_user.email ,  edit_user_registration_path%>        
                  <%= link_to '<i class="fa fa-sign-out fa-fw"></i> Sign out'.html_safe,  destroy_user_session_path, :method => :delete%>      
                <% else %>
                  <%= link_to '<i class="fa fa-user fa-fw"></i>CREATE ACCOUNT'.html_safe ,"#createAccount", "data-toggle" => "modal" %>
                  <%= link_to '<i class="fa fa-key fa-fw"></i>SIGN IN'.html_safe, "#signIn", "data-toggle" => "modal" %>
               <% end  %>    
            </div>
        </div>
    </section>
    <!-- header ends -->

    <!-- nav starts -->
    <section id="navigation">
        <div class="container">
            <div class="navigation-bar">
                <ul class="list-unstyled list-inline">
                    <li class="current"><%= link_to "CATALOGS", catalog_products_path %></li>
                    <%#*<li><a href="#">PRODUCTS</a></li>%>
                </ul>
            </div>
        </div>
    </section>
   
  <%= render 'layouts/messages' %>
  <%= render "catalog/login_modal" %>
  <%= render "catalog/signup_modal" %>
  <%= yield %> 
    
    
  <footer id='foo'>
    <div class="clear20"></div>
    <div class="copyright text-center">&copy; 2016 Catalog. All Rights Reserved.</div>
    <div class="clear20"></div>
  </footer>
</body>
</html>
